body {
    
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
  }



/* Center align the card */
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    height: 100vh; /* Set the height of the container to viewport height */
  }